<!-- <input [(ngModel)]="sid" type="number">
<button class="AllButton" (click)="GetStudbyId(sid)" > Get Student by id</button>
<button class="AllButton" (click)="DeleteStudbyId(sid)" > Delete Student by id</button>
<table border="1">
    <tr>
      <th>Student Id</th>
      <th>Student Name</th>
      <th>Student Age</th>
      <th>Student Country</th>
      <th>Student Email</th>
    </tr>
    <tr >
      <td> {{stud$?.id}}</td>
      <td> {{stud$?.name}}</td>
      <td> {{stud$?.age}}</td>
      <td> {{stud$?.country}}</td>
      <td>{{stud$?.email}}</td>
      </tr>
    </table>
    <table>
    <tr>
    <td>Student id :</td>
   <td> <input [(ngModel)]="this.studd.id" type="number"></td>
    </tr>
    <tr>
    <td>Student Name:</td>
    <td><input [(ngModel)]="this.studd.name" type="text"></td>
  </tr>
  <tr>
    <td>Student Age:</td>
    <td><input [(ngModel)]="this.studd.age" type="number"></td>
  </tr>
   <tr>
    <td>Student Country:</td>
    <td><input [(ngModel)]="this.studd.country" type="text"></td>
  </tr>
  <tr>
    <td>Student Email:</td>
    <td><input [(ngModel)]="this.studd.email" type="text"></td>
  </tr>
    <td><button class="AllButton" (click)="AddStudent(this.studd)" > Add Student </button></td>
    <td><button class="AllButton" (click)="UpdateStudent(this.studd)" > Update Student </button></td>
  
  </table>

<button class="AllButton" (click)="GetStud()" > Get All Students</button>
<table border="1">
  <tr>
    <th>Student Id</th>
    <th>Student Name</th>
    <th>Student Age</th>
    <th>Student Country</th>
    <th>Student Email</th>
  </tr>
  <tr *ngFor="let student of Allstudents$">
    <td> {{student.id}}</td>
    <td> {{student.name}}</td>
    <td> {{student.age}}</td>
    <td> {{student.country}}</td>
    <td>{{student.email}}</td>
  
  </tr>

</table> -->
<!-- 
<form [formGroup]="StudentSer.form" class="Form-Design">
  <mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile>
    <div class="Form-Controls">
      <input type="hidden" formControlName="$key">
      <mat-form-field>
        <input [(ngModel)]="this.studd.name" formControlName="StudentName" matInput placeholder="Student Name*">
        <mat-error>Student Name Is Mandatory</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input [(ngModel)]="this.studd.age" formControlName="StudentAge" matInput placeholder="Student Age">
        </mat-form-field>
        <mat-form-field>
           <mat-select [(ngModel)]="this.studd.country" formControlName="StudentCountry" placeholder="Student Country">
              <mat-option>none</mat-option>
              <ng-container *ngFor="let country of countries">
                <mat-option value="{{country.id}}">{{country.value}}</mat-option>
              </ng-container>
           </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input [(ngModel)]="this.studd.email" formControlName="StudentEmail" matInput placeholder="Student Email">
              <mat-error>Invalid Email Address</mat-error>
            </mat-form-field>

    </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="button-row">
          <button mat-raised-button color="primary" type="submit" (click)="AddStudent(this.studd)" [disabled]="StudentSer.form.invalid">Submit</button>
      </div>
  </mat-grid-tile>
  </mat-grid-list>
</form> -->