<input [(ngModel)]="sid" type="number">
<button class="AllButton" (click)="GetStudbyId(sid)" > Get Student by id</button>
<button class="AllButton" (click)="DeleteStudbyId(sid)" > Delete Student by id</button>
<table border="1">
    <tr>
      <th>Student Id</th>
      <th>Student Name</th>
      <th>Student Age</th>
      <th>Student Country</th>
      <th>Student Email</th>
    </tr>
    <tr >
      <td> {{stud$?.id}}</td>
      <td> {{stud$?.name}}</td>
      <td> {{stud$?.age}}</td>
      <td> {{stud$?.country}}</td>
      <td>{{stud$?.email}}</td>
      </tr>
    </table>
    <table>
    <tr>
    <td>Student id :</td>
   <td> <input [(ngModel)]="this.studd.id" type="number"></td>
    </tr>
    <tr>
    <td>Student Name:</td>
    <td><input [(ngModel)]="this.studd.name" type="text"></td>
  </tr>
  <tr>
    <td>Student Age:</td>
    <td><input [(ngModel)]="this.studd.age" type="number"></td>
  </tr>
   <tr>
    <td>Student Country:</td>
    <td><input [(ngModel)]="this.studd.country" type="text"></td>
  </tr>
  <tr>
    <td>Student Email:</td>
    <td><input [(ngModel)]="this.studd.email" type="text"></td>
  </tr>
    <td><button class="AllButton" (click)="AddStudent(this.studd)" > Add Student </button></td>
    <td><button class="AllButton" (click)="UpdateStudent(this.studd)" > Update Student </button></td>
  
  </table>

<button class="AllButton" (click)="GetStud()" > Get All Students</button>
<table border="1">
  <tr>
    <th>Student Id</th>
    <th>Student Name</th>
    <th>Student Age</th>
    <th>Student Country</th>
    <th>Student Email</th>
  </tr>
  <tr *ngFor="let student of Allstudents$">
    <td> {{student.id}}</td>
    <td> {{student.name}}</td>
    <td> {{student.age}}</td>
    <td> {{student.country}}</td>
    <td>{{student.email}}</td>
  
  </tr>

</table>

